.elm {
    background-color: white;
    border: 2px solid #cbcbcb;
    border-radius: 10px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    width: 40%;
    max-width: 400px;
    animation: pop2 0.6s ease-out;
    transition: all 0.3s ease;
}
.elm:hover {
    background-color: #ececec;
    transform: scale(1);
    transition: all 0.2s ease;
 }
.elm:active {
    background-color: #99ff66;
    transform: scale(0.98);
    transition: all 0.1s ease;
}
.dark-mode .elm:hover {
    background-color: #2f2f2f;
}
.dark-mode .elm {
    background-color: #262626;
    color: #fff;
    border: 2px solid #383838;
}
.dark-mode .elm:active {
    background-color: #006a5a;
}
/* ----------------------------------------------- */
