/*This file is part of TacTalaPaca.github.io.

TacTalaPaca.github.io is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

TacTalaPaca.github.io is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with TacTalaPaca.github.io. If not, see <https://www.gnu.org/licenses/>*/
/* ----------------------------------------------- */
body {
   background-color: #F9F9F9;
   background-image: url(assets/SprinkleW.svg);
   background-attachment: fixed;
   margin: 0;
   padding: 0;
   font-family: "Gugi", sans-serif;
   font-weight: bolder;
   transition: background-color 0.3s ease, background-image 0.3s ease;
}
.dark-mode body {
   background-color: #212121;
   background-image: url("assets/SprinkleD.svg");
}
/* -------------------------- */
.sidebar {
   background-color: white;
   border: 2px solid #cbcbcb;
   border-radius: 10px;
   box-sizing: border-box;
   margin: 10px;
   width: 80px;
   min-height: 250px;
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 0;
   bottom: 0;
   transition: background-color 0.3s ease, border 0.3s ease;
}
.dark-mode .sidebar {
   background-color: #262626;
   color: #fff;
   border: 2px solid #383838;
}
/* -------------------------- */
.sidebar a {
   display: block;
   margin-bottom: 5px;
   height: 60px;
   font-size: 15px;
   color: #333333;
   text-decoration: none;
   text-align: center;
   line-height: 1px;
   border-radius: 6px;
   transition: background-color 0.2s ease;
}
.sidebar a p {
   margin-top: 49px;
   font-size: 15px;
   color: #333333;
}
.dark-mode .sidebar a {
   color: #ffffff;
}
.dark-mode .sidebar a p {
   color: #ffffff;
}
/* -------------------------- */
.sidebar .theme-switch {
   margin-top: auto;
}
.sidebar a:hover {
   background-color: #e6e6e6;
}
.sidebar a:active {
   background-color: #99ff66;
   background-size: 50%;
   font-size: 13px;
   transition: background-size 0.1s ease, background-color 0.1s ease;
}
.sidebar a:active p {
   font-size: 13px;
   transition: font-size 0.1s ease;
}
.sidebar a:active.theme-switch {
   background-size: 20%;
}
.dark-mode .sidebar a:hover {
   background-color: #404040;
}
.dark-mode .sidebar a:active {
   background-color: #006a5a;
   color: #fff;
}
/* -------------------------- */
.btn1 {
   background-image: url("assets/home_l.svg");
   background-repeat: no-repeat;
   background-position: center 5px;
   background-size: 43%;
   margin: 5px;
}
.btn2 {
   background-image: url("assets/labs_l.svg");
   background-repeat: no-repeat;
   background-position: center 5px;
   background-size: 43%;
   margin: 5px;
}
/* .btn3 {
   background-image: url("");
   background-repeat: no-repeat;
   background-position: center 12px;
   background-size: 45%;
}
.btn4 {
   background-image: url("");
   background-repeat: no-repeat;
   background-position: center 12px;
   background-size: 50%;
} */
.theme-switch {
   background-image: url("assets/dark-mode.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 60%;
   margin: 5px;
}
.dark-mode .btn1 {
   background-image: url("assets/home_d.svg");
}
.dark-mode .btn2 {
   background-image: url("assets/labs_d.svg");
}
/*  .dark-mode .btn3 {
   background-image: url("assets/labs_d.svg");
}
.dark-mode .btn4 {
   background-image: url("assets/findup_d.png");
} */
.dark-mode .theme-switch {
   background-image: url("assets/light-mode.png");
}
/* -------------------------- */
.content {
   margin-left: 90px;
   padding: 10px;
   color: #333333;
}
.banner {
   background-image: url("assets/3693187.jpg");
   background-color: white;
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   height: 30vh;
   min-height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   transition: background-color 0.3s ease, background-image 0.3s ease;
}
.banner h1 {
   font-size: clamp(40px, 6vw, 80px);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-left: 40px;
   margin-right: 40px;
}
.dark-mode .content {
   color: white;
}
.dark-mode .banner {
   background-image: url("assets/4002676.jpg");
   background-color: #333333;
}
/* ----------------------------------------------- */
body {
   -webkit-user-select: none;
   /* Safari */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* IE10+/Edge */
   user-select: none;
}
/* Webkit based browsers (Chrome, Safari, Edge...) */
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background-color: #b4b4b4;
}
/* -------------------------- */
/* Dark mode for Webkit browsers */
.dark-mode ::-webkit-scrollbar-track {
   background-color: #333333;
}
.dark-mode ::-webkit-scrollbar-thumb {
   background-color: #4d4d4d;
}
/* -------------------------- */
/* Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #b4b4b4 #f1f1f1;
}
/* Dark mode for Firefox */
.dark-mode * {
   scrollbar-color: #333333 #4d4d4d;
}