<nav class="nav-bar">
  <a class="logo nav"></a>
  <a class="nav1 nav" href="/pages/">
    <div class="nav-hover">DASHBOARD</div>
  </a>
  <a class="nav2 nav" href="/pages/explore/explore.html">
    <div class="nav-hover">EXPLORE</div>
  </a>
  <a class="nav3 nav" href="/pages/download/download.html">
    <div class="nav-hover">DOWNLOAD</div>
  </a>
  <a class="nav4 nav" href="/pages/playground/playground.html">
    <div class="nav-hover">PLAYGROUND</div>
  </a>
  <a class="theme nav" id="theme"></a>
</nav>
