/*This file is part of TacTalaPaca.github.io.

TacTalaPaca.github.io is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

TacTalaPaca.github.io is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with TacTalaPaca.github.io. If not, see <https://www.gnu.org/licenses/>*/
/* ----------------------------------------------- */
/* COLOR PALETE 
light-mode:
background >---------< white
second background >--< #f6f6f6
hover >--------------< #e6e6e6
border >-------------< #cbcbcb
text >---------------< #212121

dark-mode:
background >---------< #121212
second background >--< #171717
hover >--------------< #1f1f1f
border >-------------< #1f1f1f
text >---------------< white
*/
/* ----------------------------------------------- */
/* content + banner ------------------------------ */
.content {
  margin: 10px;
  margin-left: 90px;
  text-align: center;
  height: fit-content;
  /* animations ------- */
  transition: all 0.3s ease;
}
/* -------------------------- */
.banner {
  /* bg + border ------ */
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  background-image: url(/assets/banner_l.webp);
  background-size: cover;
  background-position: center;
  /* ------------------ */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  min-height: 150px;
  margin-bottom: 20px;
  text-align: center;
  color: #212121;
  /* animations ------- */
  animation: fade-out ease-in-out;
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
  transition: all 0.3s ease;
}
.banner h1 {
  font-size: clamp(10px, 8vw, 80px);
  margin-bottom: 0;
  margin-top: auto;
  /* animations ------- */
  transition: all 0.1s ease;
  animation: pop2 0.6s ease-out;
}
.banner p {
  font-size: clamp(10px, 5vw, 30px);
  margin-bottom: auto;
  margin-top: 0;
  /* animations ------- */
  transition: all 0.1s ease;
  animation: pop2 0.6s ease-out;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .content {
  color: white;
}
.dark-mode .banner {
  background-color: #171717;
  border: 2px solid #1f1f1f;
  background-image: url(/assets/banner_d.webp);
  color: white;
}
/* ----------------------------------------------- */
/* elements  ------------------------------------- */
.elms {
  /* animations ------- */
  animation: bounce 0.5s ease-in-out;
}
.elm {
  /* bg + border ------ */
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  /* ------------------ */
  display: inline-block;
  margin: 10px;
  height: 200px;
  width: 45%;
  max-width: 400px;
  /* animations ------- */
  animation: fade-out ease-in-out;
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
  transition: all 0.3s ease;
}
.elm:hover {
  background-color: #ececec;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
.elm:active {
  background-color: #00e385;
  transform: scale(0.98);
  transition: all 0.1s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .elm {
  background-color: #171717;
  border: 2px solid #1f1f1f;
  color: white;
}
.dark-mode .elm:hover {
  background-color: #1f1f1f;
}
.dark-mode .elm:active {
  background-color: #00e385;
}
/* ----------------------------------------------- */
/* dropdowns ------------------------------------- */
.dropdowns {
  width: 90%;
  margin: auto;
  /* animations ------- */
  animation: bounce 0.5s ease-in-out;
}
.dropdown {
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  /* animations ------- */
  animation: fade-out ease-in-out;
  animation-timeline: view();
  animation-range: exit 0% exit 100%;
  transition: all 0.3s ease;
}
.dark-mode .dropdown {
  border-color: #1f1f1f;
}
.dropdown-header {
  background-color: white;
  /* ------------------ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: #212121;
  /* animations ------- */
  transition: all 0.3s ease;
}
.dark-mode .dropdown-header {
  background-color: #171717;
  color: white;
}
.dropdown-header h2 {
  margin: 0;
  font-size: 1.2em;
}
.dropdown-icon {
  /* animations ------- */
  transition: transform 0.3s ease;
}
.dropdown.active .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  /* animations ------- */
  transition: max-height 0.3s ease;
}
.dropdown.active .dropdown-content {
  max-height: 500px;
}
.dropdown-inner {
  background-color: white;
  padding: 20px;
  user-select: text;
  /* ------------------ */
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  color: #212121;
  /* animations ------- */
  transition: all 0.3s ease;
}
.dark-mode .dropdown-inner {
  background-color: #171717;
  color: white;
}
/* Hover and active states */
.dropdown-header:hover {
  background-color: #e6e6e6;
  transform: scale(1.01);
}
.dark-mode .dropdown-header:hover {
  background-color: #1f1f1f;
}
.dropdown-header:active {
  background-color: white;
}
.dark-mode .dropdown-header:active {
  background-color: #171717;
}
/* ----------------------------------------------- */
/* forms ----------------------------------------- */
.form input[type="text"],
.form textarea {
  box-sizing: border-box;
}
/* -------------------------- */
.form {
  /* bg + border ------ */
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 10px;
  /* ------------------ */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 0;
  /* animations ------- */
  transition: all 0.3s ease, color 0.1s ease;
  animation: bounce 0.5s ease-in-out;
}
.dark-mode .form {
  background-color: #171717;
  border: 2px solid #1f1f1f;
}
/* text --------------------- */
.form input[type="text"] {
  /* bg + border ------ */
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 7px;
  /* ------------------ */
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  /* ------------------ */
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #212121;
  /* animations ------- */
  transition: all 0.3s ease;
}
.form input[type="text"]:focus {
  border-color: #00e385;
  outline: none;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .form input[type="text"] {
  background-color: #1a1a1a;
  border: 2px solid #1f1f1f;
  color: white;
}
.dark-mode .form input[type="text"]:focus {
  border-color: #00e385;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .form .form-btn:hover {
  background-color: #262626;
  color: white;
}
.dark-mode .form .form-btn:active {
  background-color: #00e385;
}
/* textarea --------------------- */
.form textarea {
  /* bg + border ------ */
  background-color: white;
  border: 2px solid #cbcbcb;
  border-radius: 7px;
  /* ------------------ */
  width: 100%;
  height: 200px;
  padding: 12px;
  margin-bottom: 20px;
  resize:none;
  /* ------------------ */
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #212121;
  /* animations ------- */
  transition: all 0.3s ease;
}
.form textarea:focus {
  border-color: #00e385;
  outline: none;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .form textarea {
  background-color: #1a1a1a;
  border: 2px solid #1f1f1f;
  color: white;
}
.dark-mode .form textarea:focus {
  border-color: #00e385;
}
/* -------------------------- */
.form .form-btn {
  border-radius: 10px;
  background-color: #00e385;
  /* ------------------ */
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  /* ------------------ */
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: white;
  /* animations ------- */
  transition: all 0.3s ease;
}
.form .form-btn:hover {
  background-color: white;
  border-radius: 60px;
  color: #212121;
  /* animations ------- */
  transition: all 1s ease, background-color 0.5s ease;
  animation: glow 1s ease-in-out infinite;
}
.form .form-btn:active {
  background-color: #00e385;
  /* animations ------- */
  transition: all 0.3s ease;
}
/* ----------------------------------------------- */
/* ttp labs section -------------------------------- */
.ttp-labs-logo {
  background-image: url(/assets/TTP_Labs_l.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  /* ------------------ */
  width: clamp(100px, 50vw, 400px);
  aspect-ratio: 5/1;
  margin: auto;
  display: block;
  box-shadow: 0 0 20px rgba(31, 31, 31, 0.3);
  cursor: pointer;
  /* animations ------- */
  transition: all 0.3s ease;
  animation: pop 0.6s ease-in-out;
}
.dark-mode .ttp-labs-logo {
  background-image: url(/assets/TTP_Labs_d.svg);
}
/* -------------------------- */
.ttp-labs-logo:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}
/* -------------------------- */
.labs-wave {
  top: -20px;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 200px;
  background: url('/assets/wave.svg');
  background-size: 1000px 200px;
  opacity: 0.4;
  /* animations ------- */
  animation: wave 20s linear infinite, bounce 0.5s ease-in-out;
}
.labs-wave:nth-child(2) {
  top: -5px;
  opacity: 0.2;
  animation-delay: -5s;
  /* animations ------- */
  animation: wave 14s linear infinite, bounce 0.5s ease-in-out;
}
.labs-wave:nth-child(3) {
  top: 10px;
  opacity: 0.3;
  animation-delay: -2s;
  /* animations ------- */
  animation: wave 17s linear infinite, bounce 0.5s ease-in-out;
}
.labs-card:nth-child(2) { animation-delay: 0.2s; }
.labs-card:nth-child(3) { animation-delay: 0.4s; }
/* -------------------------- */
.labs-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}