/*This file is part of TacTalaPaca.github.io.

TacTalaPaca.github.io is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

TacTalaPaca.github.io is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with TacTalaPaca.github.io. If not, see <https://www.gnu.org/licenses/>*/
/* ----------------------------------------------- */
/* COLOR PALETE 
light-mode:
background >---------< white
second background >--< #f6f6f6
hover >--------------< #e6e6e6
border >-------------< #cbcbcb
text >---------------< #212121

dark-mode:
background >---------< #121212
second background >--< #171717
hover >--------------< #1f1f1f
border >-------------< #1f1f1f
text >---------------< white
*/
/* ----------------------------------------------- */
@media (max-width: 768px) {
   .nav {
      position: fixed;
      bottom: 0;
      left: 0;
      top: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 20px);
      height: 70px;
      margin: 10px;
      padding: 7px;
      min-height: auto;
      border: 2px solid #cbcbcb;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(1px);
      box-sizing: border-box;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
   }
   .dark-mode .nav {
      background-color: rgba(23, 23, 23, 0.8);
   }
   .nav .logo {
      display: none;
   }
   /* -------------------------- */
   .nav a {
      width: 55px;
      height: 55px;
      margin: 0;
      border-radius: 50px;
      background-color: rgba(246, 246, 246, 0.7);
   }
   .dark-mode .nav a {
      background-color: rgba(31, 31, 31, 0.7);
   }
   /* -------------------------- */
   .btn:hover .pop-up {
      display: none
   }
   /* -------------------------- */
   .content {
      margin: 10px;
   }
   .nav .theme-switch {
      margin-top: 0;
   }
   .theme-switch {
      background-size: 50%;
   }
   .nav a:active.theme-switch {
      background-size: 50%;
   }
   /* -------------------------- */
   .elm {
      width: 90%;
   }
   /* -------------------------- */
   .banner h1 {
      font-size: clamp(10px, 10vw, 80px);
   }
   .banner p {
      font-size: clamp(10px, 7vw, 30px);
   }
   /* -------------------------- */
   .form1 {
      padding: 15px;
   }
   .form1 input[type="text"] {
      padding: 10px;
   }
   .form1 .form-btn {
      padding: 10px;
   }
   /* -------------------------- */
   .ttp-labs-logo {
      width: clamp(100px, 70vw, 400px);
    }
   /* -------------------------- */
   .divider {
      margin-right: 60px;
      margin-left: 60px;
   }
   /* -------------------------- */
   .footer {
      margin-bottom: 90px;
    }
   /* -------------------------- */
   #bmc-wbtn {
      display: none !important;
   }
   .ebooks {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 10px;
      padding: 0;
    }
   /* PDF Viewer Mobile Styles */
   .pdf-viewer {
      margin: 0 !important;
      align-items: center;
      justify-content: center;
   }
   .page-wrapper {
      width: 100% !important;
      height: 100% !important;
      max-height: none !important;
   }
   .nav-btn {
      background-color: rgba(255, 255, 255, 0);
      border-color: transparent;
      background-size: 90%;
      position: fixed;
      width: 40px;
      height: 40px;
   }
   .dark-mode .nav-btn {
      background-color: rgba(255, 255, 255, 0);
      border-color: transparent;
   }
   .prev-page {
      left: 0;
      border-radius: 25px;
   }
   .next-page {
      right: 0;
      border-radius: 25px;
   }
   .nav-btn:hover {
      background-color: rgba(255, 255, 255, 0);
   }
   .prev-page:hover {
      transform: scale(2) translateX(5px);
   }
   .next-page:hover {
      transform: scale(2) translateX(-5px);
   }
   .nav-btn:active {
      border-color: transparent;
   }
   /* -------------------------- */
   /* dark-mode ---------------- */
   .dark-mode .prev-page {
      background-image: url("/assets/left_l.svg");
      left: 5px;
      border-radius: 5px 25px 25px 5px;
   }
   .dark-mode .next-page {
      background-image: url("/assets/right_l.svg");
      right: 5px;
      border-radius: 25px 5px 5px 25px;
   }
   .dark-mode .nav-btn:hover {
      background-color: rgba(255, 255, 255, 0);
    }
    .dark-mode .nav-btn:active {
      border-color: transparent;
   }
   /* -------------------------- */
   .pdf-container {
      transform: scale(1) translateX(0);
   }
   .pdf-viewer.active .pdf-container {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
   .page-wrapper {
      width: 100% !important;
      height: 100% !important;
      max-height: none !important;
   }
}