/*This file is part of TacTalaPaca.github.io.

TacTalaPaca.github.io is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

TacTalaPaca.github.io is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with TacTalaPaca.github.io. If not, see <https://www.gnu.org/licenses/>*/
/* ----------------------------------------------- */
/* COLOR PALETE 
light-mode:
background >---------< white
second background >--< #f6f6f6
hover >--------------< #e6e6e6
border >-------------< #cbcbcb
text >---------------< #212121

dark-mode:
background >---------< #121212
second background >--< #171717
hover >--------------< #1f1f1f
border >-------------< #1f1f1f
text >---------------< white
*/
/* ----------------------------------------------- */
/* body ------------------------------------------ */
body {
   background-color: white;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23cbcbcb' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   margin: 0;
   padding: 0;
   font-family: "Bungee", sans-serif;
   font-weight: bolder;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
   transition: all 0.3s ease;
}
.dark-mode body {
   background-color: #121212;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%231f1f1f' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* ----------------------------------------------- */
/* navigation ------------------------------------ */
.nav {
   /* bg + border ------ */
   background-color: white;
   border: 2px solid #cbcbcb;
   border-radius: 10px;
   /* ------------------ */
   position: fixed;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 70px;
   min-height: 250px;
   margin: 10px;
   top: 0;
   bottom: 0;
   /* animations ------- */
   animation: pop2 0.6s ease-out;
   transition: background-color 0.3s ease, border-radius 0.3s ease, border-color 0.3s ease;
}
.dark-mode .nav {
   background-color: #171717;
   border: 2px solid #1f1f1f;
   color: #fff;
}
/* -------------------------- */
.nav a {
   background-color: #f6f6f6;
   border-radius: 6px;
   display: block;
   height: 55px;
   margin-bottom: 5px;
   /* animations ------- */
   animation: pop 0.6s ease-out;
   transition: all 0.3s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .nav a {
   background-color: #1f1f1f;
}
/* -------------------------- */
.nav .theme-switch {
   margin-top: auto;
}
.nav a:hover {
   background-color: #e6e6e6;
}
.nav a:active {
   background-color: #e6e6e6;
   transition: all 0.1s ease;
}
.nav a:active.theme-switch {
   background-size: 20%;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .nav a:hover {
   background-color: #292929;
}
.dark-mode .nav a:active {
   background-color: #292929;
}
/* -------------------------- */
.btn {
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50%;
   margin: 5px;
}
.btn1 {
   background-image: url("../assets/dashboard_l.svg");
}
.btn2 {
   background-image: url("../assets/explore_l.svg");
}
.btn3 {
   background-image: url("../assets/download_l.svg");
}
.btn4 {
   background-image: url("../assets/contacts_l.svg");
}
.theme-switch {
   background-image: url("../assets/dark_mode.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 60%;
   margin: 5px;
   cursor: pointer;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .btn1 {
   background-image: url("../assets/dashboard_d.svg");
}
.dark-mode .btn2 {
   background-image: url("../assets/explore_d.svg");
}
.dark-mode .btn3 {
   background-image: url("../assets/download_d.svg");
}
.dark-mode .btn4 {
   background-image: url("../assets/contacts_d.svg");
}
.dark-mode .theme-switch {
   background-image: url("../assets/light_mode.svg");
}
/* ----------------------------------------------- */
/* divider --------------------------------------- */
.divider {
   background-color: white;
   border: 2px solid #00e385;
   border-radius: 10px;
   margin-right: 60px;
   margin-left: 140px;
   margin-bottom: 20px;
   height: 5px;
   transition: all 0.3s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .divider {
   background-color: #1f1f1f;
}
/* ----------------------------------------------- */
/* footer ---------------------------------------- */
/* -------------------------- */
.ico {
   height: 40px;
   margin: 5px;
   transition: all 0.2s ease;
}
/* -------------------------- */
.footer {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #cbcbcb;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
  height: 200px;
  padding: 10px;
  gap: 10px;
  font-weight: bolder;
  transition: all 0.3s ease;
}
.footer-btn{
   background-color: white;
   border: 2px solid #cbcbcb;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: start;
   border-radius: 50px;
   width: 150px;
   height: 50px;
   transition: all 0.3s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .footer{
   background-color: hsla(0, 0%, 9%, 0.5);
   border: 2px solid #1f1f1f;
}
.dark-mode .footer-btn{
   background-color: #171717;
   border: 2px solid #1f1f1f;
}
/* -------------------------- */
.footer-btn:hover{
   background-color: #e6e6e6;
   transform: scale(1.05);
   transition: all 0.2s ease;
}
.footer-btn:active{
   background-color: white;
   border-color: #00e385;
   transition: all 0.2s ease;
}
.footer-btn:hover .ico{
   transform: scale(1.1);
   transition: all 0.2s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .footer-btn:hover{
   background-color: #1f1f1f;
}
/* -------------------------- */
.footer-btn p {
   font-size: 13px;
   margin: 0;
   margin-left: 5px;
   color: #212121;
   transition: all 0.3s ease;
}
/* -------------------------- */
/* dark-mode ---------------- */
.dark-mode .footer-btn p {
   color: white;
}
/* ----------------------------------------------- */
/* others ---------------------------------------- */
::-webkit-scrollbar {
   display: none;
}
::selection {
  background-color: #00e385;
  color: #101010;
  -webkit-text-fill-color: #101010;
}
::-moz-selection {
  background-color: #00e385;
  color: #101010;
  -webkit-text-fill-color: #101010;
}
/* -------------------------- */
/* Page transition animations */
.content.fade-in {
   animation: fadeIn 0.2s ease-in-out forwards;
}
.content.fade-out {
   animation: fadeOut 0.2s ease-in-out forwards;
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes fadeOut {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}